<% if action == :edit %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>

<form action = "<%= action_url %>", method = "POST" >
<% if action == :edit %>
    <input type = 'hidden' name = '_method' value = "PATCH">
<% end %>

    <label>Name:
        <input type="text" name ="cat[name]" value = "<%=cat.name%>" >
    </label>
    <br>

    <label for="color">Color</label>
    <select id="color" name="cat[color]" value = "<%=cat.color%>">
        <option disabled selected>-- select a color --</option>
        <% Cat::COLORS.each do |color| %>
            <option value="<%=color%>" <%= cat.color == color ? "selected" : "" %>><%=color%></option>
        <% end %>
    </select>
    <br>

    <label>Birth Date:
        <input type="date" name="cat[birth_date]" value = "<%=cat.birth_date%>" >
    </label>
    <br>

    <label>Sex:
        <input type="radio" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : "" %>>
        <label for="M" >M</label>
        <input type="radio" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : "" %>>
        <label for="F">F</label>
    </label>
    <br>
    
    <label>Description:
        <textarea type="text" name="cat[description]"><%=cat.description%></textarea>
    </label>
    <br>
    
    <input type='submit' value="<%= (action == :edit) ? 'Update Cat' : 'Create Cat' %>"> 

</form>